<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405924185458-vsamgjc9pq77b7vajmener0k9ksgmcn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405924185458-vsamgjc9pq77b7vajmener0k9ksgmcn4</string>
	<key>API_KEY</key>
	<string>AIzaSyBWuFR_BNCFMumj0xypPKNXJnweo8I7rro</string>
	<key>GCM_SENDER_ID</key>
	<string>405924185458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spotlight.dev</string>
	<key>PROJECT_ID</key>
	<string>kenotekcoatit-b817a</string>
	<key>STORAGE_BUCKET</key>
	<string>kenotekcoatit-b817a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405924185458:ios:dccd7f68e8d137ac43c9eb</string>
	<key>DATABASE_URL</key>
	<string>https://kenotekcoatit-b817a.firebaseio.com</string>
</dict>
</plist>